<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <p>Password</p>
            <input type="password" name="password" required/>
            <p>Type your new password</p>
            <input type="password" name="new_password1" required/>
            <p>Type your new password again</p>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
          </form>
    </body>
</html>
